# Dependencies
node_modules

# Build output
dist

# Version control
.git
.gitignore

# IDE files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*.yml

# Documentation
README.md

# Project root files
../../portfolio.db
../../backend_rust/
../../.github/
